name: Bindings

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  build:
    name: Bindings
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: packages/rescript-relay
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 23
        env:
          CI: true
      - name: Set up OCaml
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: "4.14"
          dune-cache: true
          cache-prefix: "v1"
      - name: Install PPX dependencies
        working-directory: packages/rescript-relay/rescript-relay-ppx
        run: opam install . --deps-only
      - name: Build PPX
        working-directory: packages/rescript-relay/rescript-relay-ppx
        run: opam exec -- dune build bin/RescriptRelayPpxApp.exe
      - name: Install
        run: |
          yarn --frozen-lockfile
      - name: Build
        run: |
          yarn build
      - name: Test
        run: |
          yarn test:ci
