name: Bindings

on: [push]

jobs:
  build:
    name: Bindings
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: packages/rescript-relay
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2-beta
        with:
          node-version: 12.19.0
        env:
          CI: true
      - name: Install esy
        run: npm install -g esy
      - name: Build PPX
        uses: esy/github-action@v1
        with:
          cache-key: ${{ hashFiles('esy.lock/index.json') }}
          working-directory: packages/rescript-relay/rescript-relay-ppx
      - name: Install
        run: |
          yarn --frozen-lockfile
      - name: Build
        run: |
          yarn build
      - name: Test
        run: |
          yarn test:ci
