name: Integration tests

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  run_integration_tests:
    name: Integration tests
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: "true"
      - uses: actions/setup-node@v3
        with:
          node-version: 16
        env:
          CI: true
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: 1.77.0
          override: true
      - name: Install esy
        run: npm install -g esy
      - uses: esy/github-action@master
        with:
          cache-key: ${{ hashFiles('esy.lock/index.json') }}
          working-directory: packages/rescript-relay/rescript-relay-ppx
      - name: Build PPX
        uses: esy/github-action@master
        with:
          cache-key: ${{ hashFiles('esy.lock/index.json') }}
          working-directory: packages/rescript-relay/rescript-relay-ppx
      - name: Install - bindings
        working-directory: packages/rescript-relay
        run: |
          yarn install
      - name: Build - compiler & Relay test files
        working-directory: packages/rescript-relay
        run: |
          yarn build:test
      - name: git status
        id: git_status
        run: |
          echo "::set-output name=status::$( git status --porcelain )"
      - name: Exit if files modified
        run: |
          exit 1
        if: steps.git_status.outputs.status
      - name: Build - bindings
        working-directory: packages/rescript-relay
        run: |
          yarn build
      - name: Integration tests
        working-directory: packages/rescript-relay
        run: |
          yarn test:ci
      - name: Integration tests (preloaded)
        working-directory: packages/rescript-relay
        env:
          ENABLE_PERSISTING: true
        run: |
          yarn test:ci
