name: Integration tests

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  run_integration_tests:
    name: Integration tests
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: "true"
      - uses: actions/setup-node@v4
        with:
          node-version: 23
        env:
          CI: true
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly-2025-05-09
          override: true
      - name: Set up OCaml
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: "4.14"
          dune-cache: true
          cache-prefix: "v1"
      - name: Install PPX dependencies
        working-directory: packages/rescript-relay/rescript-relay-ppx
        run: opam install . --deps-only
      - name: Build PPX
        working-directory: packages/rescript-relay/rescript-relay-ppx
        run: opam exec -- dune build bin/RescriptRelayPpxApp.exe
      - name: Install - bindings
        working-directory: packages/rescript-relay
        run: |
          yarn install
      - name: Build - compiler & Relay test files
        working-directory: packages/rescript-relay
        run: |
          yarn build:test
      - name: git status
        id: git_status
        run: |
          echo "status=$( git status --porcelain )" >> $GITHUB_OUTPUT
      - name: Exit if files modified
        run: |
          echo "Files have been modified during the build process:"
          echo "${{ steps.git_status.outputs.status }}"
          exit 1
        if: steps.git_status.outputs.status
      - name: Build - bindings
        working-directory: packages/rescript-relay
        run: |
          yarn build
      - name: Integration tests
        working-directory: packages/rescript-relay
        run: |
          yarn test:ci
      - name: Integration tests (preloaded)
        working-directory: packages/rescript-relay
        env:
          ENABLE_PERSISTING: true
        run: |
          yarn test:ci
