name: PPX

on: [push]

jobs:
  ppx_linux:
    strategy:
      matrix:
        platform: [ubuntu-18.04]

    name: PPX
    runs-on: ${{ matrix.platform }}
    defaults:
      run:
        working-directory: packages/rescript-relay/rescript-relay-ppx
    container:
      image: cichocinski/docker-esy:alpine3.8
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2-beta
        with:
          node-version: 12.19.0
        env:
          CI: true
      - name: Esy install
        run: esy install
      - name: Print esy cache
        id: print_esy_cache
        run: node $GITHUB_WORKSPACE/.github/workflows/print_esy_cache.js
      - name: Try to restore dependencies cache
        uses: actions/cache@v2
        id: deps-cache
        with:
          path: ${{ steps.print_esy_cache.outputs.esy_cache }}
          key: ${{ matrix.platform }}---${{ hashFiles('**/index.json') }}
          restore-keys: |
            ${{ matrix.platform }}---
      - name: Test PPX
        run: esy test
      - name: Build PPX
        run: esy linux-release-static
      - name: Copy built PPX file
        run: |
          mv ./_esy/default/build/default/bin/RescriptRelayPpxApp.exe ppx-linux
      - name: Strip binary
        run: |
          strip ppx-linux
      - name: Upload PPX artifact
        uses: actions/upload-artifact@v2
        with:
          name: ppx-${{ matrix.platform }}
          path: packages/rescript-relay/rescript-relay-ppx/ppx-*
          if-no-files-found: error
  ppx:
    strategy:
      matrix:
        platform: [macos-latest]

    name: PPX
    runs-on: ${{ matrix.platform }}
    defaults:
      run:
        working-directory: packages/rescript-relay/rescript-relay-ppx
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2-beta
        with:
          node-version: 12.19.0
        env:
          CI: true
      - name: Install esy
        run: npm install -g esy
      - name: Build PPX
        uses: esy/github-action@v1
        with:
          cache-key: ${{ hashFiles('esy.lock/index.json') }}-v1
          working-directory: packages/rescript-relay/rescript-relay-ppx
      - name: Test PPX
        run: esy test
      - name: Copy built PPX file
        run: |
          mv ./_esy/default/build/default/bin/RescriptRelayPpxApp.exe ppx-darwin
      - name: Strip PPX binary
        run: |
          strip ppx-darwin
      - name: Upload PPX artifact
        uses: actions/upload-artifact@v2
        with:
          name: ppx-darwin
          path: packages/rescript-relay/rescript-relay-ppx/ppx-darwin
          if-no-files-found: error
