name: PPX

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  ppx_linux:
    name: PPX Linux
    runs-on: ubuntu-latest
    container:
      image: debian:bullseye
    steps:
      - uses: actions/checkout@v4
      - name: Set up OCaml
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: "4.14"
          dune-cache: true
          cache-prefix: "v2-bullseye"
      - name: Install dependencies
        working-directory: packages/rescript-relay/rescript-relay-ppx
        run: opam install . --deps-only
      - name: Build PPX
        working-directory: packages/rescript-relay/rescript-relay-ppx
        run: |
          opam exec -- dune build --profile release-static bin/RescriptRelayPpxApp.exe
          cp _build/default/bin/RescriptRelayPpxApp.exe ppx-linux
      - name: Strip binary
        working-directory: packages/rescript-relay/rescript-relay-ppx
        run: |
          chmod +w ppx-linux
          strip ppx-linux
      - name: Upload PPX artifact
        uses: actions/upload-artifact@v4
        with:
          name: ppx-linux
          path: packages/rescript-relay/rescript-relay-ppx/ppx-*
          if-no-files-found: error

  ppx:
    strategy:
      matrix:
        platform: [macos-latest, windows-latest]

    name: PPX
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v4
      - name: Set up OCaml
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: "4.14"
          dune-cache: true
          cache-prefix: "v1"
      - name: Install dependencies
        working-directory: packages/rescript-relay/rescript-relay-ppx
        run: opam install . --deps-only
      - name: Build PPX
        working-directory: packages/rescript-relay/rescript-relay-ppx
        run: opam exec -- dune build bin/RescriptRelayPpxApp.exe
      - name: Strip PPX binary
        if: runner.os != 'Windows'
        working-directory: packages/rescript-relay/rescript-relay-ppx
        run: |
          chmod +w _build/default/bin/RescriptRelayPpxApp.exe
          strip _build/default/bin/RescriptRelayPpxApp.exe
      - name: Upload PPX artifact ${{ matrix.platform }}
        uses: actions/upload-artifact@v4
        with:
          name: ppx-${{ matrix.platform }}
          path: packages/rescript-relay/rescript-relay-ppx/_build/default/bin/RescriptRelayPpxApp.exe
          if-no-files-found: error
